
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Run Script</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }
        button {
            padding: 1em 2em;
            font-size: 1.5em;
            margin: 0.5em;
        }
    </style>
</head>
<body>
    <button onclick="window.location.href='/run_script/maindrum.py'">Drum</button>
    <button onclick="window.location.href='/run_script/main.py'">Piano</button>
    <button onclick="window.location.href='/run_script/GuitarMain.py'">Guitar</button>
</body>
</html>



